.comment {
  display: flex;
  flex-direction: column;
  /* display: inline; */
}

.comment__data {
  display: flex;
  margin: 0;
}

.comment__info {
  margin: 0 5px 0 0;
  font-size: 10px;
  line-height: 12px;
}

.comment__text {
  font-size: 10px;
  line-height: 12px;
}

.comment__text * {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: normal;
}

.comment__text a {
  text-decoration: none;
  color: #3B6C76;
}

.comment-list-inside {
  padding-left: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

@media (min-width: 768px) {
  .comment__info, .comment__text {
    font-size: 14px;
    line-height: 16px;
  }
}
 
@media (min-width: 1260px) {
  .comment__info, .comment__text {
    font-size: 18px;
    line-height: 20px;
  }
}