.page-news {
  display: flex;
  flex-direction: column;
  background-color: #F3EDE6;
  padding: 10px 10px;
  min-height: calc(100vh - 174px);
  width: 100%;
  box-sizing: border-box;
}

.page-news__novigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 5px;
}

.page-news__button-back {
  border-radius: 11px;
  box-sizing: border-box;
  font-size: 8px;
  line-height: 10px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #efa63a;
  border: 2px solid #efa63a;
}

.page-news__button-back:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #efa63a 0%, #f26737 100% );
  color: #fff;
  transition: all 0.2s linear;
}

.page-news__link {
  color:#000;
  margin-left: 5px;
  font-size: 8px;
  line-height: 10px;
}

.page-news__text {
  color:#000;
  margin-left: 5px;
  font-size: 8px;
  line-height: 10px;
}

.page-news__title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 8px 0;
}

.page-news__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.page-news__info-text {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  font-weight: 700;
}

.page-news__rank {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
  font-weight: 700;
}

.page-news__comments {
  display: flex;
  flex-direction: column;
}

.comment-list {
  width: 100%;
  padding-left: 12px;
  box-sizing: border-box;
  margin: 0;
  list-style-type: disc;
} 

@media (min-width: 768px) {
  .page-news {
    min-height: calc(100vh - 204px);
  }

  .page-news__button-back {
    font-size: 12px;
    line-height: 16px;
    border-radius: 14px;
  }

  .page-news__link {
    font-size: 14px;
    line-height: 18px;
  }

  .page-news__text {
    font-size: 14px;
    line-height: 18px;
  }

  .page-news__title {
    font-size: 28px;
    line-height: 30px;
  }

  .page-news__data {
    height: 20px;
  }

  .page-news__date-info {
    font-size: 14px;
    line-height: 16px;
  }

  .page-news__rank {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 1280px) {
  .page-news__button-back {
    font-size: 14px;
    line-height: 18px;
    border-radius: 15px;
  }

  .age-news__link {
    font-size: 16px;
    line-height: 20px;
  }

  .page-news__text {
    font-size: 16px;
    line-height: 20px;
  }

  .page-news__title {
    font-size: 38px;
    line-height: 40px;
  }

  .page-news__date-info {
    font-size: 18px;
    line-height: 20px;
  }

  .page-news__rank {
    font-size: 20px;
    line-height: 22px;
  }
}